@import '../reset.css';
@import '../body-header-and-footer-basics.css';
@import 'javascript-effects.css';

section:first-of-type>p{
	color: rgb(0,0,0);
}

ul:nth-child(2){
	text-align: center;
}

ul:nth-child(2)>li{
	cursor: pointer;
	list-style-type: none;
	text-align: center;
}

ul:nth-child(2)>li:hover{
	color: rgb(0,0,0);
}

@media only screen and (min-width:287px){	
	h1{
		font-size: 90%;
		margin-left: 15%;
		width: 80%;
	}
	
	ul:nth-child(2){
		margin-bottom: 10%;
		margin-left: 10%;
		margin-top: 10%;
		max-width: 90%;
	}
	
	ul:nth-child(2)>li{
		font-size: 75%;
		margin-top: 2%;
		text-align: center;
		width: 70%;
	}
	
	section:first-of-type{
		font-size: 75%;		
		margin-left: 10%;
		text-align: center;
		width: 80%;
	}
	
	section>div{
		text-align: left;
		width: 90%;
	}

	section>div:first-of-type>img:first-child, section>div:last-of-type>img:first-child{
		margin-left: 5%;
		margin-right: 5%;
	}

	section>div:first-of-type>span:first-of-type{
		margin-right: 10%;
	}

	section>div:first-of-type>span:nth-of-type(2){
		margin-right: 4%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 20%;
	}

	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 10%;
	}
}

@media only screen and (min-width:340px){
	section>div:last-of-type>span:first-of-type{
		margin-right: 25.5%;
	}
}

@media only screen and (min-width:360px){			
	h1{
		margin-left: 17.5%;
	}
	
	section>div{
		margin-left: 7.5%;
		width: 80%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 27.5%;
	}
}

@media only screen and (min-width:380px){
	section>div:last-of-type>span:first-of-type{
		margin-right: 27%;
	}
	
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 10%;
	}
}

@media only screen and (min-width:400px){	
	h1{
		margin-top: 5%;
	}
	
	ul:nth-child(2){
		margin-left: 12.5%;
	}
	
	section>div{
		margin-left: 10%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 26%;
	}
	
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 10%;
	}	
}

@media only screen and (min-width:410px){	
	h1{
		margin-left: 20%;
	}
}

@media only screen and (min-width:430px){
	h1{
		margin-left: 22.5%;
	}
	
	section>p{
		margin-left: 10%;
		width: 80%;
	}
	
	section>div{
		margin-left: 12.5%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 25%;
	}
}	

@media only screen and (min-width:460px){
	ul:nth-child(2){
		margin-left: 15%;
	}
	
	section>div{
		margin-left: 15%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 24%;
	}
}
@media only screen and (min-width:470px){
	h1{
		margin-left: 25%;
	}
}

@media only screen and (min-width:500px){
	ul:nth-child(2){
		margin-left: 0;
	}
	
	ul:nth-child(2)>li{
		display: inline;
		font-size: 80%;
		line-height: 400%;
		margin-right: 5%;
	}
	
	section>p{
		margin-left: 0;
		width: 100%;
	}
	
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 9%;
	}
}

@media only screen and (min-width:520px){
	h1{
		margin-left: 30%;
	}
	
	section>div{
		margin-left: 17%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 23.5%;
	}
}

@media only screen and (min-width:540px){
	section>div:last-of-type>span:first-of-type{
		margin-right: 23%;
	}
}

@media only screen and (min-width:550px){
	ul:nth-child(2)>li{
		margin-right: 7.5%;
	}	
}

@media only screen and (min-width:560px){
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 8.5%;
	}
}

@media only screen and (min-width:580px){
	section>div{
		margin-left: 19%;
	}
}

@media only screen and (min-width:600px){
	ul:nth-child(2)>li{
		margin-right: 10%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 22.5%;
	}
	
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 8%;
	}
}

@media only screen and (min-width:620px){
	ul:nth-child(2)>li{
		margin-right: 5%;
	}	
	
	section>div{
		margin-left: 20%;
	}
}

@media only screen and (min-width:640px){
	section>div:last-of-type>span:first-of-type{
		margin-right: 22%;
	}
}

@media only screen and (min-width:680px){
	h1{
		font-size: 110%;
	}
	
	ul:nth-child(2){
		margin-left: 1%;
	}
	
	ul:nth-child(2)>li{
		display: inline;
		font-size: 95%;
		line-height: 250%;
		margin-right: 10%;
	}
	
	section:first-of-type{
		font-size: 80%;
	}
}

@media only screen and (min-width:700px){
	ul:nth-child(2){
		margin-left: 2%;
	}
	
	section>div{
		margin-left: 21%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 21.75%;
	}
}

@media only screen and (min-width:710px){
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 7.5%;
	}
}

@media only screen and (min-width:720px){
	ul:nth-child(2){
		margin-left: 3%;
	}
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 7.5%;
	}
}

@media only screen and (min-width:740px){
	section>div{
		margin-left: 22%;
	}
}

@media only screen and (min-width:750px){
	section>div{
		margin-left: 26%;
	}
	
	section>div:first-of-type>span:first-of-type{
		margin-right: 8%;
	}
	
	section>div:first-of-type>span:nth-of-type(2){
		margin-right: 2%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 14.5%;
	}
	
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 5.5%;
	}
}

@media only screen and (min-width:800px){
	h1{
		margin-left: 32.5%;
	}
	
	section>div{
		margin-left: 27%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 14%;
	}

	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 5%;
	}
}

@media only screen and (min-width:820px){
	section>div:last-of-type>span:first-of-type{
		margin-right: 13.75%;
	}
}

@media only screen and (min-width:860px){
	ul:nth-child(2)>li{
		margin-right: 7.5%;
	}
}

@media only screen and (min-width:900px){
	section>div{
		margin-left: 28%;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 13.25%;
	}
}

@media only screen and (min-width:930px){
	section>div{
		margin-left: 29%;
	}
	
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 4.5%;
	}
}

@media only screen and (min-width:1020px){
	section>div{
		margin-left: 240px;
	}
	
	section>div:last-of-type>span:first-of-type{
		margin-right: 75px;
	}
	section>div:last-of-type>span:nth-of-type(2){
		margin-right: 27.5px;
	}
}