@import '../reset.css';
@import '../body-header-and-footer-basics.css';
@import 'javascript-effects.css';
	
form{
	height: 400px;
	margin: 0 auto;
	width: 80%;
}

input[type="email"]{
	text-transform: lowercase;
}

p:nth-child(5), p:nth-child(6), p:nth-child(7){
	text-align: center;
}

input, textarea, button{
	border: 2px solid rgb(0,0,0);
	border-radius: 10px;
	font-family: "Maindra GD", cursive;
	font-weight: bold;
}

button{
	cursor: pointer;
	margin-left: 30%;
}
	
@media only screen and (min-width:320px){	
	label{
		font-size: 70%;
	}
	
	form{
		margin-bottom: 10%;
	}
	
	form>p{
		font-size: 70%;

	}
	
	p:nth-child(5){
		margin-bottom: 2.5%;
		margin-left: 7.5%;
		margin-top: 5%;
		width: 85%;
	}
	
	p:nth-child(6){
		margin-bottom: 2.5%;
	}
	
	p:nth-child(7){
		margin-bottom: 2.5%;
	}
	
	button{
		font-size: 60%;
		margin-bottom: 15%;
		width: 35%;
	}
}

@media only screen and (min-width:400px){	
	form{
		margin-bottom: 10%;
	}
	
	button{
		margin-left: 35%;
		width: 30%;
	}
}

@media only screen and (min-width:410px){
	p:nth-child(5){
		width: 80%;
	}
}

@media only screen and (min-width:440px){
	p:nth-child(5){
		margin-left: 10%;
		width: 77.5%;
	}
}

@media only screen and (min-width:600px){
	label, form>p{
		font-size: 75%;
	}
	
	button{
		width: 27.5%;
	}
}	

@media only screen and (min-width:680px){			
	p:nth-child(5), p:nth-child(6), p:nth-child(7){
		font-size: 80%;
	}	
}

@media only screen and (min-width:700px){
	p:nth-child(5), p:nth-child(6), p:nth-child(7){
		font-size: 90%;
	}
	
	form{
		margin-bottom: 15%;
	}
	
	button{
		margin-left: 37.5%;
		width: 25%;
	}
}

@media only screen and (min-width:800px){
	button{
		width: 22.5%;
	}
}

@media only screen and (max-width:959px){
	label{
		margin: 0 0 0 10%;
		text-align: center;
		width: 100%;
	}
	
	input{
		display: block;
		margin: 0 auto;
		width: 80%;
	}
}

@media only screen and (max-width: 960px){	
	textarea{
		font-size: 80%;
		height: 150px;
		margin: 5% 0 0 9.5%;
		width: 80%;
	}
}

@media only screen and (min-width:960px){	
	form{
		margin: 0 auto 5% auto;
		width: 90%;
	}
	
	label{
		font-size: 80%;
	}
	
	input{
		display: block;
		width: 80%;
	}
	
	label, input{
		margin-left: 10%;
	}
	
	textarea{
		font-size: 80%;
		height: 150px;
		margin: 5% 0 0 10%;
		width: 80%;
	}
	
	button{
		margin-left: 40%;
		width: 17.5%;
	}
	
	input,textarea,button{
		border: 2px solid rgb(0,0,0);
	}
}

@media only screen and (min-width:1020px){			
	form{
		width: 850px;
	}

	label{
		font-size: 70%;
	}
	
	input{
		margin-right: 7px;
	}
	
	button{
		margin-left: 350px;
		width: 160px;
	}
}
